.down_arrow {
    position: relative;
     z-index: 1000; 
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
   width: max-content;
   height: max-content;
    border-radius: 100%;
    
  }
  .down_arrow img{
    position: absolute;
    top: -12px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 25px;
    width: 25px;
    
    animation: jumpInfinite 1.5s infinite;
  }
  
/*   
  .down_arrow:after {
    content: "";
    position: absolute;
    top: 12px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    border-radius: 4px;
    transform: rotateZ(45deg);
    z-index: 1000;
  }
*/
   .down_arrow::after{
    content: " aa";
    position: relative; 
    z-index: 1000;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
    border-radius: 100%;
    padding: 10px;
    border: 1px solid white;
   } 
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 5px;
    }
    100% {
      margin-top: 0;
    }
  }